.detalle-producto {
  padding: 2rem;
}

.detalle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
}

.titulo-producto {
  text-align: left;
  font-size: 1.8rem;
}

.btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #0077cc;
}

.btn:hover {
  background-color: rgb(106, 165, 255);
  color: #ffffff;
  border-color: #000000;
  box-shadow: 0 0 10px rgba(55, 84, 212, 0.6);
}

.detalle-body {
  margin-top: 1rem;
}

.descripcion {
  margin-bottom: 1rem;
}

.productos-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto); 
  
}
.productos-container img {
  width: 200%;
  height: 200px;
  object-fit: cover;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.productos-container img:hover{
    transform: scale(1.05); 


}

@media (max-width: 1400px) {
  .productos-container {
    grid-template-columns: repeat(4, 1fr); 
  }
  .productos-container img {
    height: 180px;
  }
}
 @media (max-width: 1000px) {
  .productos-container {
    grid-template-columns: repeat(3, 1fr); 
  }
  .productos-container img {
    height: 180px;
  }
} 


@media (max-width: 800px) {
  .productos-container {
    grid-template-columns: repeat(2, 1fr); 
  }
  .productos-container img {
    height: 150px;
  }
}


@media (max-width:550px) {
  .productos-container {
    grid-template-columns: 1fr;
  }
  .productos-container img {
    height: 120px;
  }
} 